@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

ul {
    padding-inline-start: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

.square {
    background: #fff;
    border: 4px solid black;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 154px;

    margin-right: -1px;
    margin-top: -1px;
    padding: 1;
    text-align: center;
    width: 100px;
    height: 100px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}
.status {
    margin-bottom: 10px;
}
.game {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    font-family: 'SF_HambakSnow';
    text-align: center;
}

.title {
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'SF_HambakSnow';
    margin-bottom: 80px;
    -webkit-text-stroke: 4px;
}

.game-info {
    margin-left: 60px;
    font-size: 20px;
}

.photo {
    background-image: url('https://github.com/mimieee122/mslogo/blob/main/%ED%8B%B1%ED%83%9D%ED%86%A0.png?raw=true');
    background-repeat: no-repeat;
    background-size: contain;
}

.girl {
    background-image: url('https://github.com/mimieee122/mslogo/blob/main/%EC%86%90.png?raw=true');
    background-repeat: no-repeat;
    background-size: contain;
}
