@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

ul {
    padding-inline-start: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

.square {
    background: black;
    border: 6px solid #1e40af;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 14px;

    margin-right: -1px;
    margin-top: -1px;
    padding: 1;
    text-align: center;
    width: 100px;
    height: 100px;
}

.animal {
    background-image: url('https://github.com/mimieee122/mslogo/blob/main/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7%202024-07-25%20140732.png?raw=true');
    background-repeat: no-repeat;
    background-size: contain;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}
.status {
    margin-bottom: 10px;
}
.game {
    display: flex;
    flex-direction: row;

    font-family: 'SF_HambakSnow';
    text-align: center;
}

.title {
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'SF_HambakSnow';
    margin-bottom: 80px;
    -webkit-text-stroke: 4px #1e40af;
}

.game-info {
    margin-left: 80px;
    font-size: 20px;
    text-align: left;
}

.photo {
    background-image: url('https://i.pinimg.com/564x/cf/c7/a4/cfc7a42c6ba66d93c3f9b93728b3a6c4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.girl {
    background-image: url('https://github.com/mimieee122/mslogo/blob/main/%ED%8B%B1%ED%83%9D%ED%86%A0%EC%BA%90%EB%A6%AD%ED%84%B0.png?raw=true');
    background-repeat: no-repeat;
    background-size: contain;
}
